* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  height: 60px;
  width: 100%;
  background-color: #eeeff2;
  position: relative;
}
.container img {
  width: 45px;
  height: 45px;
}
.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list li {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}

.nav-list a {
  text-decoration: none;
  color: black;
}
.in-out {
  display: flex;
}
.in-out a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 7px;
  border-style: none;
  background-color: orangered;
  border-radius: 10px;
}
.in-out a:hover {
  background-color: purple;
  transition: 0.5s;
}
.home {
  display: grid;
  width: 100%;
  height: 90vh;
  background-image: url(images/Car\ Website\ –\ 1@2x.png);
  background-position: 50% 40%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  background-color: #eeeff2;
}
.text {
  padding: 20px;
  font-size: 40px;
}
.h1 {
  color: orangered;
  font-size: 60px;
}

.text p {
  color: black;
  font-size: 20px;
}
.text img {
  padding: 20px 5px;
  width: 110px;
}
.date-box {
  margin-top: 550px;
  margin-left: 100px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  position: absolute;
  height: 100px;
  width: auto;
  background-color: white;
  gap: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
}
.date-box .location input {
  border-radius: 10px;
  background-color: rgb(214, 206, 206, 0.5);
  font-size: 15px;
  border-style: hidden;
  padding: 5px;
  width: 100%;
}
.date-box .date input {
  border-radius: 10px;
  background-color: rgb(214, 206, 206, 0.5);
  font-size: 14px;
  color: gray;
  border-style: hidden;
  padding: 5px;
}
.date-box .send-btn {
  text-decoration: none;
  color: white;
  font-size: 15px;
  width: 70px;
  height: 29px;
  border-style: none;
  background-color: orangered;
  border-radius: 10px;
  margin-top: 24px;
  padding-top: 5px;
}
.date-box .send-btn:hover {
  background-color: purple;
  transition: 0.5s;
}
.boxtwo {
  background-color: #eeeff2;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  line-height: 1.6;
  padding-bottom: 15px;
}
.twoh1 {
  color: orangered;
  font-size: 20px;
  font-weight: 100;
}
.choosesection {
  display: flex;
  text-align: center;
  padding: 50px 10px;
  gap: 10px;
}
.choosesection i {
  color: orangered;
  border: #eeeff2 10px solid;
  background-color: #eeeff2;
  font-size: 30px;
  border-radius: 50%;
}
.choosesection i:hover {
  color: white;
  background-color: orangered;
  border: orangered 10px solid;
  transition: 0.5s;
}
.choosesection h6 {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 400;
}
.choosetext p {
  font-size: 20px;
  font-weight: 250;
}
.autobox {
  margin-top: 30px;
  padding: 0px 30px;
}
.autobox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 15px;
  margin-top: 30px;
  width: 100%;
  max-height: auto;
}

.auto {
  display: block;
  width: 100%;
  height: 300px;
}
.auto-container {
  font-size: 20px;
  font-weight: 500;
  height: 530px;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(63, 61, 61, 0.3);
  margin-left: 10px;
  margin-bottom: 12px;
}

.auto-container:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.auto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.auto p {
  padding: 10px;
  border: 1px solid black;
  width: 60px;
  border-radius: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}
.auto span {
  color: orangered;
}
.auto-container .auto a {
  margin-top: 10px;
  background-color: purple;
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.box-three{
  box-sizing: border-box;
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  align-items: center;
}
.about img{
  width: 100%;
}
.aboutus p{
  margin: 20px;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;

}
.aboutus a{
  background-color: purple;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}
.aboutus a:hover{
  background-color: orangered;
  transition: 0.5s;
}
.reviews{
  margin: 15px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.reviews-box{
  margin: 10px 0;
  padding: 20px 10px;
  max-height: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(63, 61, 61, 0.3);
  line-height: 30px;

}
.reviews-box img{
  width: 70px;
  height: 70px;
  border: 2px solid orangered;
  border-radius: 50px;

}
.reviews-box .name{
  font-size: 30px;
  color: orangered;
  margin-bottom: 10px;
  
}
.reviews-box i{
  color: orange;
}
.reviews-box:hover {
  transform: scale(1.03);
  transition: 0.6s;
}
.footer{
  background: linear-gradient(to bottom, orangered, orange);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin:0 10px;
  padding: 10px 0;

}
.footer-box{
  background-color: #fff;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}
.footer-box div{
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .footer-box h1{
  font-size: 40px;
  color:rgb(51, 47, 47);
  margin-bottom: 5px;
}
.footer .footer-box input{
  border-radius: 25px;
  border-style: none;
  background-color: rgb(218, 214, 214);
  height: 20px;
  width: auto;
  text-align: center;
  padding: 0 120px;
  margin-bottom: 5px;
}
.footer .footer-box .footer-btn{

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  background-color: purple;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;

}

.footer .footer-box .footer-btn:hover{
  background-color: orangered;
  transition: 0.5s;
}
.end{
  background-color: red;
  margin: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px ;
  font-size: 15px;
  color: #fff;
}
.end span{
  font-style: italic;
  
}
.end .icons i{
  color: rgb(37, 33, 33);
  padding-left: 10px;
  font-size: 20px;
}